{% extends "admin/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}Delete event{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

<div class="div_content" align="center">

	<!-- Header -->
	<div class="div_list" align="left">
		Welcome, {{ user.get_full_name }}!
	</div>

	<!-- Content -->
	<div id="content" class="colM" align="left">

		<h1>Estas seguro?</h1>

		<p>Are you sure you want to delete the selected event? All the following objects and their related elements will
			be deleted:</p>

		<h2>Event</h2>

		<ul>
			<li>Event: {{ event }}</li>
		</ul>

		<form method="POST" class="post-form">{% csrf_token %}
			<div>
				<input type="submit" style="background-color:darkred;" value="Yes, I'm sure" />
				<a href="/events/event" class="button cancel-link">No, take me back</a>
			</div>
		</form>

	</div>
	<!-- END Content -->

</div>
{% endblock %}