{% extends "admin/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}Events{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

<div class="div_content" align="center">

	<!-- Header -->
	<div class="div_list" align="left">
		Welcome, {{ user.get_full_name }}!
	</div>

	{% if event %}
	<div class="div_list" align="left">
		<h2>Event details: {{ event }}</h2>
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<ul>
			<li><b>Id:</b> {{ event.id }}</li>
			<li><b>Category:</b> {{ event.event_category }}</li>
			<li><b>Location:</b> {{ event.event_place }}</li>
			<li><b>Address:</b> {{ event.event_address }}</li>
			<li><b>Start date:</b> {{ event.date_start }}</li>
			<li><b>End date:</b> {{ event.date_end }}</li>
			<li><b>Virtual event?:</b> {{ event.event_virtual }}</li>
			<li><b>Created on:</b> {{ event.date_created }}</li>
			<li><b>Created by:</b> {{ event.created_by }}</li>
			<ul>
	</div>

	{% else %}
	<p>You must select an event.</p>
	{% endif %}

	<!-- Menu -->
	<div class="div_list" align="left">
		<a href="/events/event">Back to events</a>
	</div>

</div>
{% endblock %}