{% extends "admin/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}Events{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

<div class="div_content" align="center">

	<!-- Header -->
	<div class="div_list" align="left">
		Welcome, {{ user.get_full_name }}!
	</div>

	{% if latest_event_list %}

	{% load render_table from django_tables2 %}
	<div class="div_list" align="left">
		<h2>Latest events</h2>
		{% render_table latest_event_list %}
	</div>

	<div class="div_list" align="left">
		<h2>Actions</h2>
		<ul>
			{% for event in latest_event_list %}
			<li>{{ event.event_name }} >> &thinsp;&thinsp;
				<a href="details/{{ event.id }}/"><img src="{% static '/events/images/view.png' %}" title="Show"
						alt="Show" /></a>&thinsp;&thinsp;&thinsp;
				<a href="edit/{{ event.id }}/"><img src="{% static '/events/images/edit.png' %}" title="Edit"
						alt="Edit" /></a>&thinsp;&thinsp;
				<a href="delete/{{ event.id }}/"><img src="{% static '/events/images/delete.png' %}" title="Delete"
						alt="Delete" /></a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="div_list" align="left">
		<p>There are no events available. You can create one if you wish.</p>
	</div>
	{% endif %}

	<!-- Menu -->
	<div class="div_list" align="left">
		<a href="/events/index">Back to options</a> | <a href="/events/new">New event</a>
	</div>
</div>
{% endblock %}