{% extends "admin/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}Login error{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

<div class="div_content" align="center">

	<div class="div_list" align="left">
		<p>There seems to have been an error, have you entered your login details correctly?</p>
		<p>Please return to the Login page and enter your data again.</p>
	</div>

	<!-- Menu -->
	<div class="div_list" align="left">
		<a href="/login">Back to login</a>
	</div>

</div>
{% endblock %}