{% extends "admin/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}" />

<div class="div_content" align="center">

	<div class="div_list" align="left">
		<h2>Sign up</h2>
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
			<p>
				{{ field.label_tag }}<br>
				{{ field }}
				{% if field.help_text %}
				<small style="color: grey">{{ field.help_text }}</small>
				{% endif %}
				{% for error in field.errors %}
			<p style="color: red">{{ error }}</p>
			{% endfor %}
			</p>
			{% endfor %}
			<button type="submit">Sign up</button>
		</form>
	</div>

	<!-- Menu -->
	<div class="div_list" align="left">
		<a href="/signup">Create new account</a>
	</div>

</div>
{% endblock %}